@model Sommelier.Models.ViewModels.FoodPairingViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div>
        <h3>
            Since you're eating @Model.Food.Name, I'd recommend one of these from your cellar
        </h3>
    </div>
    <div>
        @foreach (var wine in Model.Wines)
        {
            if (wine.Quantity > 0)
            {
            <a asp-controller="Wines" asp-action="RemoveBottleConfirm" asp-route-id="@wine.WineId">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@wine.Winery.Name @wine.Variety.Name - @wine.Year</h3>
                    </div>
                    <div class="panel-body">
                        <p>@wine.Name</p>
                        @if (wine.Quantity == 1)
                        {
                        <p>You have @wine.Quantity bottle</p>
                        }
                        else
                        {
                        <p>You have @wine.Quantity bottles</p>
                        }
                    </div>
                </div>
            </a>
            }
        }
        </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>