@model Sommelier.Models.ViewModels.FoodPairingViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div>
        <h3>
           Since you're eating @Model.Food.Name, I'd recommend one of these from your cellar
        </h3>
    </div>
    <div>
        @foreach (var item in Model.FoodCategories)
        {
            @foreach (var variety in item.Category.Varieties)
            {
                @foreach (var wine in variety.Wines)
                {
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@wine.Winery.Name @wine.Variety.Name - @wine.Year</h3>
                        </div>
                        <div class="panel-body">
                            <p>@wine.Name</p>
                            <p>@wine.Quantity</p>
                        </div>
                    </div>
                }
            }
        }
    </div>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
