@model Sommelier.Models.ViewModels.FoodPairingViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div>
        <h3>
           Since you're eating @Model.Food.Name, I'd recommend one of these from your cellar
        </h3>
    </div>
    <div>
        @foreach (var item in Model.FoodCategories)
        {
           
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">@item.Category.Variety.Wine.Winery.Name @item.Category.Variety.Wine.Variety.Name - @item.Category.Variety.Wine.Year</h3>
                        </div>
                        <div class="panel-body">
                            <p>@item.Category.Variety.Wine.Name</p>
                            <p>@item.Category.Variety.Wine.Quantity</p>
                        </div>
                    </div>
                
        }
    </div>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
