@model Sommelier.Models.ViewModels.WineDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<a class="waves-effect btn-small back-button" asp-action="Index"><i class="material-icons left">keyboard_backspace</i>Back</a>

<div class="row wine_detail_header">
    <div class="col s6">
        @if (Model.Wine.Variety.CategoryId == 1 || Model.Wine.Variety.CategoryId == 2 || Model.Wine.Variety.CategoryId == 3)
        {
            <img class="wine_bottle_glass" src="~/images/White.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 4)
        {
            <img class="wine_bottle_glass" src="~/images/Sparkling.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 5 || Model.Wine.Variety.CategoryId == 6 || Model.Wine.Variety.CategoryId == 7)
        {
            <img class="wine_bottle_glass" src="~/images/Red.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 8)
        {
            <img class="wine_bottle_glass" src="~/images/Dessert.svg" />
        }
    </div>
    <div class="col s6">
        <h4>@Model.Wine.Name</h4>
        <h3>@Model.Wine.Winery.Name</h3>
        <h5>@Model.Wine.Variety.Name</h5>
        <h5>@Model.Wine.Year</h5>
        <h6>You have @Model.Wine.Quantity bottles in your cellar</h6>
    </div>
</div>
<div class="row">
    <p class="col s8 offset-s2 detail-food-header center-align">This wine pairs best with:</p>
    <ul class="row">
        @foreach (var food in Model.Foods)
        {
            <li class="col s3 offset-s2 wine-detail-food">@food.Name</li>
        }
    </ul>
</div>
<div class="row">
    @*<a class="col s3 offset-s2 waves-effect waves-light btn yellow lighten-2 grey-text" asp-action="Edit" asp-route-id="@Model.Wine.WineId">Edit</a>*@
    <button data-target="modal1" class="col s3 offset-s2 waves-effect waves-light btn yellow lighten-2 grey-text modal-trigger">Update</button>
    <a class="col s3 offset-s2 waves-effect  waves-light btn  red lighten-2" asp-action="Delete" asp-route-id="@Model.Wine.WineId">Delete</a>
</div>

<div id="modal1" class="modal">
    <form asp-action="Edit" asp-route-id="@Model.Wine.WineId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Wine.WineId" />
        <div class="modal-content">
        <div class="hide">
            <div class="form-group">
                <label asp-for="@Model.Wine.Name" class="control-label"></label>
                <input asp-for="@Model.Wine.Name" class="form-control" />
                <span asp-validation-for="@Model.Wine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Wine.WineryId" class="control-label"></label>
                <input asp-for="@Model.Wine.WineryId" class="form-control" />
                <span asp-validation-for="@Model.Wine.WineryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Wine.VarietyId" class="control-label"></label>
                <input asp-for="@Model.Wine.VarietyId" class="form-control" />
                <span asp-validation-for="@Model.Wine.VarietyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Wine.Year" class="control-label"></label>
                <input asp-for="@Model.Wine.Year" class="form-control" />
                <span asp-validation-for="@Model.Wine.Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="@Model.Wine.Favorite" /> @Html.DisplayNameFor(model => Model.Wine.Favorite)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Wine.Quantity" class="control-label"></label>
            <input asp-for="@Model.Wine.Quantity" class="form-control" />
            <span asp-validation-for="@Model.Wine.Quantity" class="text-danger"></span>
        </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Save" class="btn-small waves-effect waves-light green lighten-1" />
        </div>
    </form>
</div>