@model Sommelier.Models.ViewModels.WineDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col s6">
        @if (Model.Wine.Variety.CategoryId == 1 || Model.Wine.Variety.CategoryId == 2 || Model.Wine.Variety.CategoryId == 3)
        {
            <img class="wine_bottle_glass" src="~/images/WhiteBottleGlass.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 5 || Model.Wine.Variety.CategoryId == 6 || Model.Wine.Variety.CategoryId == 7)
        {
            <img class="wine_bottle_glass" src="~/images/RedBottleGlass.svg" />
        }
    </div>
    <div class="col s6">
        <h6>@Model.Wine.Name</h6>
        <h6>@Model.Wine.Winery.Name</h6>
        <h6>@Model.Wine.Variety.Name</h6>
        <h6>@Model.Wine.Year</h6>
    </div>
</div>
<div>
    <p>This wine pairs best with:</p>
    <ul>
        @foreach (var food in Model.Foods)
        {
            <li>@food.Name</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Wine.WineId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Wine.WineId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>