@model Sommelier.Models.Wine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WineryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Winery.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VarietyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variety.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Favorite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Favorite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WineId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.WineId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>