@model Sommelier.Models.ViewModels.WineDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<a class="waves-effect waves-light btn-small back-button" asp-action="Index"><i class="material-icons left">keyboard_backspace</i>Back</a>

<div class="row wine_detail_header">
    <div class="col s6">
        @if (Model.Wine.Variety.CategoryId == 1 || Model.Wine.Variety.CategoryId == 2 || Model.Wine.Variety.CategoryId == 3)
        {
            <img class="wine_bottle_glass" src="~/images/White.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 4)
        {
            <img class="wine_bottle_glass" src="~/images/Sparkling.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 5 || Model.Wine.Variety.CategoryId == 6 || Model.Wine.Variety.CategoryId == 7)
        {
            <img class="wine_bottle_glass" src="~/images/Red.svg" />
        }
        @if (Model.Wine.Variety.CategoryId == 8)
        {
            <img class="wine_bottle_glass" src="~/images/Dessert.svg" />
        }
    </div>
    <div class="col s6">
        <h4>@Model.Wine.Name</h4>
        <h3>@Model.Wine.Winery.Name</h3>
        <h5>@Model.Wine.Variety.Name</h5>
        <h5>@Model.Wine.Year</h5>
        <h6>You have @Model.Wine.Quantity bottles in your cellar</h6>
    </div>
</div>
<div>
    <p>This wine pairs best with:</p>
    <ul>
        @foreach (var food in Model.Foods)
        {
            <li>@food.Name</li>
        }
    </ul>
</div>
<div>
    <a class="waves-effect waves-light btn" asp-action="Edit" asp-route-id="@Model.Wine.WineId">Edit</a>
    <a class="waves-effect waves-light btn" asp-action="Delete" asp-route-id="@Model.Wine.WineId">Delete</a> 
</div>