@model IEnumerable<Sommelier.Models.Wine>

@{
    ViewData["Title"] = "Index";
}

<h2>My Cellar</h2>

@if (Model.Count() > 1)
{
    <h4>In your cellar, you currently have @Model.Count() different wines</h4>
}
else if (Model.Count() == 1)
{
    <h4>In your cellar, you currently have @Model.Count() kind of wine</h4>
}
else if (Model.Count() == 0)
{
    <h4>You don't have any wines in your cellar. Let's change that</h4>
}

<p>
    <a class="waves-effect waves-light btn" asp-action="Create"><i class="material-icons right">add</i>Add New Wine</a>
</p>

@using (@Html.BeginForm("Search", "Wines", FormMethod.Get))
{
<div class="input-field">
    <label for="search">Search for a wine</label>
        @Html.TextBox("search")<button id="search_button" type="submit" class="btn-small waves-effect waves-light" value="search"><i class="material-icons right">search</i>Search</button>
</div>
   
}

@foreach (var item in Model)
{
    <a asp-action="Details" asp-route-id="@item.WineId">
        <div class="row ">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
                        <span class="card-title">@item.Winery.Name @item.Variety.Name - @item.Year</span>
                        @if (item.Name == null)
                        {
                         <p>Bottles in your cellar: @item.Quantity</p>
                        }
                        @if (item.Name != null)
                        {
                            <p>Wine Name: @item.Name</p>
                            <p>Bottles in your cellar: @item.Quantity</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </a>
}

