@model Sommelier.Models.ViewModels.SearchWineViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>My Cellar</h2>

@if (Model.Wines.Count() > 1)
{
    <h4>In your cellar, you currently have @Model.Wines.Count() different wines that match the term '@Model.searchTerm'.</h4>
}
else if (Model.Wines.Count() == 1)
{
    <h4>In your cellar, you currently have @Model.Wines.Count() kind of wine that matches the term '@Model.searchTerm'.</h4>
}
else if (Model.Wines.Count() == 0)
{
    <h4>You don't have any wines in your cellar that match that match the term '@Model.searchTerm'. Would you like to add a new wine?</h4>
}

<p>
    <a asp-action="Create">Add New Wine</a>
</p>

@using (@Html.BeginForm("Search", "Wines", FormMethod.Get))
{
    <p class="text-info">
        @Html.TextBox("search")<input type="submit" value="search" placeholder="Search for a Winery or Variety" />
    </p>
}


@foreach (var item in Model.Wines)
{
    <a asp-action="Details" asp-route-id="@item.WineId">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@item.Winery.Name @item.Variety.Name - @item.Year</h3>
            </div>
            @if (item.Name == null)
            {
                <div class="panel-body">
                    <p>Bottles in your cellar: @item.Quantity</p>
                </div>
            }
            @if (item.Name != null)
            {
                <div class="panel-body">
                    <p>Wine Name: @item.Name</p>
                    <p>Bottles in your cellar: @item.Quantity</p>
                </div>
            }
        </div>
    </a>
}
