@model Sommelier.Models.ViewModels.SearchWineViewModel

@{
    ViewData["Title"] = "Index";
}

<a class="waves-effect waves-light btn-small back-button" asp-action="Index"><i class="material-icons left">keyboard_backspace</i>Back</a>

@if (Model.Wines.Count() > 1)
{
    <h4>In your cellar, you currently have @Model.Wines.Count() different wines that match the term '@Model.searchTerm'.</h4>
}
else if (Model.Wines.Count() == 1)
{
    <h4>In your cellar, you currently have @Model.Wines.Count() kind of wine that matches the term '@Model.searchTerm'.</h4>
}
else if (Model.Wines.Count() == 0)
{
    <h4>You don't have any wines in your cellar that match that match the term '@Model.searchTerm'. </h4>
    <h5>Would you like to add a new wine or search for something else?</h5>
}

<div class="row">
    <a class="col s5 waves-effect waves-light btn" asp-action="Create"><i class="material-icons right">add</i>Add Wine</a>
    <a id="search_toggle_button" class="col s5 waves-effect offset-s2 waves-light btn "><i class="material-icons right">search</i>Search</a>
</div>

@using (@Html.BeginForm("Search", "Wines", FormMethod.Get))
{
    <div id="search_container" class="input-field scale-transition scale-out">
        <label for="search">Search for a wine</label>
        @Html.TextBox("search")<button id="search_button" type="submit" class="btn-small waves-effect waves-light" value="search"><i class="material-icons right">chevron_right</i>Go</button>
    </div>
}


@foreach (var item in Model.Wines)
{
    <a asp-action="Details" asp-route-id="@item.WineId">
        <div class="row ">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1 hoverable waves-effect waves-light">
                    <div class="card-content white-text">
                        <span class="card-title">@item.Winery.Name @item.Variety.Name - @item.Year</span>
                        @if (item.Name == null)
                        {
                            <p>Bottles in your cellar: @item.Quantity</p>
                        }
                        @if (item.Name != null)
                        {
                            <p>Wine Name: @item.Name</p>
                            <p>Bottles in your cellar: @item.Quantity</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </a>
}
